<header [ngClass]="typeOfMedia()">
  <h1>O Relatório de Prevenção (RELPREV) é um documento para relatar uma situação de potencial risco para a segurança operacional.</h1>
  <p>O preenchimento pode ser anônimo ou não. Este relato permite que a autoridade competente tenha conhecimento e tome medidas para eliminar, mitigar e solucionar a condição de risco relatada.</p>
  <p>Conheça a Lei Geral de Proteção de Dados (Lei nº 13.709/18) na íntegra clicando <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank" rel="nofollow">aqui.</a></p>
</header>
