:host {
  display: block;

  header {

    display: flex;
    flex-direction: column;
    gap: 3vmin;

    h1 {
      font-size: 18pt;
    }

    p {
      font-size: 12pt;

      a {
        font-family: 'Interface BD';
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }

        &:visited {
          color: #333;
        }
      }
    }

    &.xsmall {
      padding: 0 16px;
    }

    &.small {
      padding-right: 20vw;
    }

    &.xlarge {
      padding-right: 30vw;
    }
  }
}