:host {
  display: block;

  header {

    display: flex;
    flex-direction: column;
    gap: 3vmin;

    h1 {
      font-size: 18pt;
    }

    p {
      font-size: 12pt;

      a {
        font-family: 'Interface BD';
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
        &:visited {
          color: #333;
        }
      }
    }

    &.xsmall {
      padding: 0 20vw 0 6vw;
    }
    
    &.small {
      padding: 0 40vw 0 8vw;
    }

    &.xlarge {
      padding: 0 45vw 0 12vw;
    }
  }
}
