* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Interface XBD';
  src: url('assets/fonts/interface_xbd.ttf');
}

@font-face {
  font-family: 'Interface BD';
  src: url('assets/fonts/interface_bd.ttf');
}

@font-face {
  font-family: 'Interface RG';
  src: url('assets/fonts/interface_rg.ttf');
}

html, body {
  background-color: #fff;
}