%actionsContainerRowSettings {
  grid-area: span 1 / span 2;

  display: flex;
  gap: 3vmin;

  button {
    flex: 1;
  }
}

:host {
  display: block;

  form {
    display: grid;
    gap: 3vmin;

    .field-container {
      display: flex;
      flex-direction: column;
      gap: 1vmin;
    }

    &.xsmall {

      padding: 0 8vw;

      grid-template-columns: auto auto;

      .field-container:nth-of-type(3),
      .field-container:nth-of-type(6),
      .field-container:nth-of-type(9),
      .field-container:nth-of-type(10),
      .field-container:nth-of-type(11) {
        grid-area: span 1 / span 2;
      }

      input,
      textarea,
      select {
        padding: 8px;
      }

      .actions-container {
        @extend %actionsContainerRowSettings;
      }
    }

    &.small {

      padding: 0 8vw;

      grid-template-columns: auto auto;

      .field-container:nth-of-type(9),
      .field-container:nth-of-type(10),
      .field-container:nth-of-type(11) {
        grid-area: span 1 / span 2;
      }

      .actions-container {
        @extend %actionsContainerRowSettings;
      }
    }

    &.medium {


      padding: 0 12vw;

      grid-template-columns: auto auto;

      .field-container:nth-of-type(9),
      .field-container:nth-of-type(10),
      .field-container:nth-of-type(11) {
        grid-area: span 1 / span 2;
      }

      .actions-container {
        @extend %actionsContainerRowSettings;
      }
    }

    &.xlarge {
      padding: 0 12vw;

      grid-template-columns: auto auto auto;

      .field-container:nth-of-type(10) {
        grid-area: span 2 / span 2;
      }

      .actions-container {

        display: flex;
        align-items: flex-end;
        gap: 3vmin;

        button {
          max-height: 50px;
          flex: 1;
        }
      }
    }
  }
}