<form [ngClass]="media()" (submit)="onSubmit()" [formGroup]="form">

  <div class="inputs-container">

    <div class="flx-col">
      <div class="flx-col-item">
        <label for="firstName">Nome</label>
        <input type="text" formControlName="firstName" id="firstName" placeholder="digite seu nome...">
      </div>

      <div class="flx-col-item">
        <label for="lastName">Sobrenome</label>
        <input type="text" formControlName="lastName" id="lastName" placeholder="digite seu sobrenome...">
      </div>
    </div>

    <div class="flx-col">
      <div class="flx-col-item">
        <label for="phoneNumber">Telefone</label>
        <input type="text" formControlName="phoneNumber" id="phoneNumber" placeholder="digite seu nº de telefone...">
      </div>

      <div class="flx-col-item">
        <label for="cellPhone">Celular</label>
        <input type="text" formControlName="cellPhone" id="cellPhone" placeholder="digite seu nº de celular...">
      </div>
    </div>

    <div class="flx-row">
      <label for="email">Email</label>
      <input type="text" formControlName="email" id="email" placeholder="digite seu endereço de email...">
    </div>

    <div class="flx-row">
      <label for="reporterActivityArea">Área de atuação do relator</label>
      <select id="reporterActivityArea" formControlName="reporterActivityArea">
        <option value="volvo" selected hidden>Escolha uma opção</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="flx-col">

      <div class="flx-col-item">
        <label for="date">Data</label>
        <input type="date" formControlName="date" id="date">
      </div>

      <div class="flx-col-item">
        <label for="time">Hora</label>
        <input type="time" formControlName="time" id="time">
      </div>

    </div>

    <div class="flx-row">
      <label for="location">Local</label>
      <input type="text" formControlName="location" id="location">
    </div>

    <div class="flx-row">
      <label for="description">Descrição*</label>
      <textarea type="tex" formControlName="description" id="description"
        placeholder="descreva o que ocorreu..."></textarea>
    </div>

    <div class="flx-row">
      <label for="upload-file">Anexe uma evidência se houver.</label>
      <input #uploadFile type="file" id="upload-file" class="upload-file">
      <button type="button" (click)="setFile($event, uploadFile)">ANEXAR UM ARQUIVO</button>
      <span>{{ currentFileName }}</span>
    </div>

  </div>

  <div class="actions-container">
    <button class="contrast" type="button" (click)="resetForm()">LIMPAR</button>
    <button type="submit">ENVIAR</button>
  </div>

</form>